.recorder-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.word {
  margin: 10px
}

.bold {
  font-weight: bold;
  background: yellow;
  color: black;
}
